<div id="resume" class=" mt-2">

  <div>

    <section id="skillsSection" class="card  mb-2 bg-transparent mx-auto">
      <div class="card-header z-depth-2 deep-purple lighten-2">
        <h3 class="text-center font-weight-bold">Skills</h3>
      </div>

      <div class="card-deck bg-transparent">
        <div class="card  border-dark mb-2">
          <div class="card-header  z-depth-2 font-weight-bold">
            <div class="mx-auto   text-center  z-depth-3 deep-purple lighten-3">Software Development Skills</div>
          </div>

          <div class="card-body">
            <div class="wrapper border border-dark p-2 mx-2">
              <h6 class="grid-item grid-item--width3 mx-2">C#</h6>
              <h6 class="grid-item grid-item--width3 mx-2">ASP.NET MVC</h6>
              <h6 class="grid-item grid-item--width3 mx-2">ASP.NET WebAPI</h6>
              <h6 class="grid-item grid-item--width3 mx-2">HTML5</h6>
              <h6 class="grid-item grid-item--width3 mx-2">CSS3</h6>
              <h6 class="grid-item grid-item--width3 mx-2">JavaScript</h6>
              <h6 class="grid-item grid-item--width3 mx-2">jQuery</h6>
              <h6 class="grid-item grid-item--width3 mx-2">JSON</h6>
              <h6 class="grid-item grid-item--width3 mx-2">XML</h6>
              <h6 class="grid-item grid-item--width3 mx-2">ADO.Net</h6>
              <h6 class="grid-item grid-item--width3 mx-2">Entity Framework</h6>
              <h6 class="grid-item grid-item--width3 mx-2">SQL Server</h6>
              <h6 class="grid-item grid-item--width3 mx-2">VB.Net</h6>
              <h6 class="grid-item grid-item--width3 mx-2">LINQ</h6>
              <h6 class="grid-item grid-item--width3 mx-2">NUnit</h6>
              <h6 class="grid-item grid-item--width3 mx-2">WCF</h6>
              <h6 class="grid-item grid-item--width3 mx-2">Visual Studio</h6>
            </div>
            <div class="wrapper border border-dark mt-2 p-2 mx-2">
              <h6 class="grid-item grid-item--width3">Bootstrap Framework (3/4)</h6>
              <h6 class="grid-item grid-item--width3">GIT (GitHub / Bitbucket)</h6>
              <h6 class="grid-item grid-item--width3">REST using Web API</h6>
              <h6 class="grid-item grid-item--width3">Version Control</h6>
              <h6 class="grid-item grid-item--width3">Class Modeling</h6>
              <h6 class="grid-item grid-item--width3">Debugging Techniques</h6>
            </div>
            <div class="border border-dark mt-2 p-0 mx-2">
              <h6 class="grid-item">Test Driven Development (TDD)</h6>
              <h6 class="grid-item">Object Oriented Programming (OOP)</h6>
              <h6 class="grid-item">Common Architecture Patterns</h6>
            </div>
          </div>

        </div>

        <div class="w-100 d-none d-sm-block d-md-none"></div>

        <div class="card border-dark mb-2">
          <div class="card-header z-depth-2 font-weight-bold">
            <div class="mx-auto   text-center  z-depth-3 deep-purple lighten-3">Mainframe Skills</div>
          </div>
          <div class="card-body">
            <div class="wrapper border  border-dark p-2 mx-2">
              <h6 class="grid-item grid-item--width2 mx-2">COBOL</h6>
              <h6 class="grid-item grid-item--width2  mx-2">Easytrieve</h6>
              <h6 class="grid-item grid-item--width2  mx-2">CICS</h6>
              <h6 class="grid-item grid-item--width2  mx-2">REXX</h6>
              <h6 class="grid-item grid-item--width2 mx-2">CLIST</h6>
              <h6 class="grid-item  grid-item--width2 mx-2">VSAM</h6>
              <h6 class="grid-item grid-item--width2 mx-2">IMS</h6>
              <h6 class="grid-item grid-item--width2  mx-2">Xpediter</h6>
              <h6 class="grid-item grid-item--width2  mx-2">z/OS</h6>
              <h6 class="grid-item grid-item--width2 mx-2">TSO</h6>
              <h6 class="grid-item grid-item--width2  mx-2">ISPF</h6>
              <h6 class="grid-item grid-item--width2  mx-2">DB2</h6>
              <h6 class="grid-item grid-item--width2  mx-2">JCL</h6>
              <h6 class="grid-item grid-item--width3  mx-2">Changeman</h6>
            </div>
          </div>
        </div>
        <div class="w-100 d-none d-sm-block d-md-none"></div>
        <div class="w-100 d-none d-md-block d-lg-none"></div>

        <div class="card border-dark mb-2">
          <div class="card-header  z-depth-2 font-weight-bold ">
            <div class="mx-auto  text-center z-depth-3 deep-purple lighten-3">Soft Skills</div>
          </div>
          <div class="card-body">
            <div class="grid border  border-dark p-2">

              <h6 class="grid-item  grid-item--width3  mx-2">Troubleshooting</h6>
              <h6 class="grid-item  grid-item--width3  mx-2">Client Interaction</h6>
              <h6 class="grid-item  grid-item--width3  mx-2">Team Leadership</h6>
              <h6 class="grid-item  grid-item--width3  mx-2">Contributorg</h6>
              <h6 class="grid-item  grid-item--width3  mx-2">Innovation</h6>
              <h6 class="grid-item  grid-item--width3  mx-2">Requirement Gathering</h6>
            </div>


          </div>
          <div class="card-header  z-depth-2 font-weight-bold">
            <div class="mx-auto  text-center z-depth-3 deep-purple lighten-3 ">Downloadable Resumes</div>
          </div>
          <div class="card-body">
            <div class="mr-3 row">
              <div class="col-5">Software developer</div>
              <a href="https://drive.google.com/open?id=12YQcCz7pA0Jpyd6GzWdk_4xotySPdJBd"
                 alt="Link to downloadable PDF resume" class="col-2">

                <i class="fas fa-file-pdf fa-2x  ml-3"></i>
              </a>
              <a href="https://drive.google.com/open?id=1QMOi34cnxZ6_v17JHAX0zcQmyGJyz1GK"
                 alt="Link to downloadable Microsoft Word resume">
                <i class="fas fa-file-word fa-2x ml-3"></i>
              </a>
            </div>

            <div class="mr-3 row">
              <div class="col-5">Mainframe developer</div>
              <a href="https://drive.google.com/open?id=12YQcCz7pA0Jpyd6GzWdk_4xotySPdJBd"
                 alt="Link to downloadable PDF resume" class="col-2">

                <i class="fas fa-file-pdf fa-2x ml-3"></i>
              </a>
              <a href="https://drive.google.com/open?id=1QMOi34cnxZ6_v17JHAX0zcQmyGJyz1GK"
                 alt="Link to downloadable Microsoft Word resume">
                <i class="fas fa-file-word fa-2x ml-3"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="professionalSection" class="card mb-2 bg-transparent">
      <div class="card-header z-depth-2 deep-purple lighten-2">
        <h3 class="text-center font-weight-bold">Professional Experience</h3>
      </div>


      <div class="card-body mx-auto px-1 mb-2">

        <div class="card mb-1 border-dark p-1">
          <div class="card-header deep-purple lighten-4">
            <div class="row px-0 mx-0">
              <div class="col-md-3     ">
                <figure class="figure card-img">
                  <img class="figure-img img-fluid img-thumbnail" src="/assets/images/webp/TheSoftwareGuild-2.webp" alt="The Software Guild logo" />
                </figure>
              </div>
              <div class="col card-group pe-card-group">
                <div class="row w-100"><strong>The Software Guild</strong></div>
                <div class="row w-100">Louisville, Ky</div>
                <div class="row w-100">Junior Software Developer</div>
                <div class="row w-100">May 2017 - Jul 2017</div>
              </div>
              <div class="col-6 deep-purple lighten-5">
                test
              </div>
            </div>
          </div>
          <div class="card-body">
            <ul class="">
              <li>Developed DVD Library application. Used HTML, CSS, JavaScript and Bootstrap for the front end. Back end was a Web API application using C# and Ninject. Supported 3 different data access types: In-memory, Entity Framework, and ADO.</li>
              <li>Designed the SQL Server database schema for a Hotel Reservation system. Design consisted of 24 tables and 2 Entity-Relationship Diagrams.</li>
              <li>Developed Vending Machine application using HTML, CSS, JavaScript and BootStrap. Application interacted with a web service.</li>
              <li>Wrote an ASP.Net MVC student information system using C#, HTML, CSS., and BootStrap.</li>
              <li>Developed a full stack Car Dealership application. Front end used HTML, JavaScript, jQuery, CSS, and Bootstrap. It featured an email interface and implemented the Google Map API. Back end was a C# ASP.Net MVC application using Entity Framework, ADO, and Web API.</li>
              <li>Worked on a 4-person team to design BLOG application. I contributed the photo upload interface along with the tag cloud / search function.</li>
              <li>Utilized Atlassian Tools (JIRA, Crucible, and Bitbucket) for version control and workflow management. Used Stack for team communication.</li>
            </ul>
          </div>
        </div>

        <div class="card  mb-1 border-dark p-1">
          <div class="card-header deep-purple lighten-4">
            <div class="row px-0 mx-0">
              <div class=" col-md-3">
                <figure class="figure card-img">
                  <img class="figure-img img-fluid img-thumbnail" src="/assets/images/webp/CEB.webp" alt="SHL-CEB logo" />
                </figure>
              </div>
              <div class="col card-group pe-card-group">
                <div class="row w-100"><strong>SHL - CEB Talent Measurement Solutions</strong></div>
                <div class="row w-100">Remote</div>
                <div class="row w-100">Quality Assurance Specialist</div>
                <div class="row w-100">Nov 2014 – Dec 2014</div>
              </div>
              <div class="col-6 deep-purple lighten-5">
                test
              </div>
            </div>
          </div>
          <div class="card-body">
            <ul>
              <li>Reviewed 100+ COBOL related questions for consistency, clarity and correctness. </li>
              <li>Collaborated with other team members to resolve all issues. </li>
              <li>Produced reports for management. </li>
            </ul>
          </div>
        </div>

        <div class="card  mb-1 border-dark p-1">
          <div class="card-header deep-purple lighten-4">
            <div class="row px-0 mx-0">
              <div class=" col-md-3">
                <figure class="figure card-img">
                  <img class="figure-img img-fluid img-thumbnail" src="/assets/images/webp/Regulus.webp" alt="Regulus Group logo" />
                </figure>
              </div>
              <div class="col card-group pe-card-group">
                <div class="row w-100"><strong>Regulus Group II, LLC</strong></div>
                <div class="row w-100">Louisville, KY</div>
                <div class="row w-100">Senior Systems Analyst</div>
                <div class="row w-100">Dec 2010 – Sep 2011</div>
              </div>
              <div class="col-6 deep-purple lighten-5">
                test
              </div>
            </div>
          </div>
          <div class="card-body">
            <ul>
              <li>Transferred knowledge on processing rules, unique requirements, and requirements.</li>
              <li>Coached programmers taking over support of remittance customers staying with First Tennessee.</li>
              <li>Created process flows using Microsoft Visio to document customers with complex requirements.</li>
              <li>Developed decision table to document processing rules for Prudential Insurance.</li>
            </ul>
          </div>
        </div>

        <div class="card mb-1 border-dark p-1">
          <div class="card-header deep-purple lighten-4">
            <div class="row px-0 mx-0">
              <div class="col-md-3">
                <figure class="figure card-img">
                  <img class="figure-img img-fluid img-thumbnail" src="/assets/images/webp/FirstTennessee.webp" alt="First Tennesse logo" />
                </figure>
              </div>
              <div class="col card-group pe-card-group">
                <card class="w-100"><strong>First Tennessee Bank, N.A.</strong></card>
                <card class="w-100">Louisville, KY</card>
                <card class="w-100">Senior Consulting Analyst</card>
                <card class="w-100">May 2002 – Dec 2010</card>
              </div>
              <div class="col-6 deep-purple lighten-5">
                test
              </div>
            </div>
          </div>
          <div class="card-body">
            <ul>
              <li>Guided team of up to 6 developers in supporting the remittance operation. Provided manager with regular status reports and represented him during meetings. </li>
              <li>Coordinated technical service needs (transmission setups, batch job scheduling, database) with proper areas. Participated in enterprise technology level projects involving both operating system and software upgrades.</li>
              <li>Created VB.Net Win Form app to allow entry of name and address changes. App used simple SQL database to confirm city, state and zip code combinations.</li>

              <li>Rewrote the app to use VB.Net and Silverlight to allow easier installation.</li>

              <li>Created VB.Net Win Form app to watch various directories for new files. When detected, the app would process the new file and store the edited file into the upload directory.</li>

              <li>Created separate VB.Net WPF app to send and receive files using a third party FTP component.</li>

              <li>Replaced several standalone VB.Net Win Form/WPF apps with a VB.Net Silverlight app. The app enabled clerks to extract data from a SQL Server database and create an extract file. </li>

              <li>Provided programming support for the remittance system using COBOL, Easytrieve and REXX programs.</li>
              <li>Devised a solution to letter generation process. This saved 2.5 FTEs and generated over $100,000 in extra revenue. Wrote COBOL program to embed HP printer control commands and format text.</li>
            </ul>
          </div>
        </div>
      </div>


    </section>
    <section id="consultingSection" class="card mb-2 ">
      <div class="card-header z-depth-2 deep-purple lighten-2">
        <h3 class="text-center font-weight-bold">Consulting/Contracting Experience</h3>
      </div>


      <div class="card-body mx-auto px-1 mb-2">

        <div class="card mb-1 border-dark p-1">
          <div class="card-header deep-purple lighten-4">
            <div class="row px-0 mx-0">
              test
            </div>
          </div>
          <div class="card-body">
            <ul class="">
              <li>Developed DVD Library application. Used HTML, CSS, JavaScript and Bootstrap for the front end. Back end was a Web API application using C# and Ninject. Supported 3 different data access types: In-memory, Entity Framework, and ADO.</li>
              <li>Designed the SQL Server database schema for a Hotel Reservation system. Design consisted of 24 tables and 2 Entity-Relationship Diagrams.</li>
              <li>Developed Vending Machine application using HTML, CSS, JavaScript and BootStrap. Application interacted with a web service.</li>
              <li>Wrote an ASP.Net MVC student information system using C#, HTML, CSS., and BootStrap.</li>
              <li>Developed a full stack Car Dealership application. Front end used HTML, JavaScript, jQuery, CSS, and Bootstrap. It featured an email interface and implemented the Google Map API. Back end was a C# ASP.Net MVC application using Entity Framework, ADO, and Web API.</li>
              <li>Worked on a 4-person team to design BLOG application. I contributed the photo upload interface along with the tag cloud / search function.</li>
              <li>Utilized Atlassian Tools (JIRA, Crucible, and Bitbucket) for version control and workflow management. Used Stack for team communication.</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="educationSection" class="card mb-3">
      <div class="card-header z-depth-2 deep-purple lighten-2">
        <h3 class="text-center font-weight-bold">Education</h3>
      </div>

      <div class="card-body mx-1 px-1 ">
        <div class="card mx-auto">
          <div class="card-header deep-purple lighten-4">
            <div class="row px-0 mx-0">
              <div class="col-md-3">
                <figure class="figure card-img">
                  <img class="figure-img img-fluid img-thumbnail" src="/assets/images/webp/wku.webp" alt="Western Kentucky University logo" />
                </figure>
              </div>
              <div class="col  ">
                <p class="w-100"><strong>Western Kentucky University</strong></p>
                <p class="w-100">Bowling Green, KY</p>
                <p class="w-100">Bachelor of Science</p>
                <p class="w-100">Computer Science</p>
              </div>
              <div class="col-6 deep-purple lighten-5">
                test
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

  </div>

</div>

