<div id="projects" class="mx-0 px-0">

  <div class="bg-transparent mt-0 pl-1" id="sideNav">
    <ul class="nav nav-pills flex-column text-white mx-0 pl-0 text-left w-100 active bg-transparent" id="navbarSide">

      <li class="nav-item w-100 active">
        <a href="#GuildQuest" class="nav-link waves-effect waves-button text-left w-100" id="pills-GQ-tab"
           aria-controls="pills-GQ" aria-selected="false" data-toggle="pill">Guild Quest</a>
      </li>

      <li class="nav-item w-100">
        <a href="#AngularGuildQuest" class="nav-link waves-effect waves-button text-left w-100" id="pills-AGQ-tab"
           aria-controls="pills-AGQ" aria-selected="false" data-toggle="pill">Angular Guild Quest</a>
      </li>

      <li class="nav-item w-100">
        <a href="#HomePage" class="nav-link waves-effect waves-button text-left w-100" id="pills-HomePage-tab"
           aria-controls="pills-HomePage" aria-selected="false" data-toggle="pill">Home Page</a>
      </li>

      <li class="nav-item w-100">
        <a href="#Hotel" class="nav-link waves-effect waves-button text-left w-100" id="pills-Hotel-tab"
           aria-controls="pills-Hotel" aria-selected="false" data-toggle="pill">Hotel</a>
      </li>
    </ul>
  </div>
  <div class="app my-auto no-scrollbar mx-2" id="horScroll">
    <div class="hs">
      <div id="GuildQuest" class="card">
        <h3 class="h3 card-header text-center projectcolor1">Guild Quest</h3>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 card-img">
              <img class="img-fluid img-thumbnail" src="/assets/images/webp/GuildQuest.webp" alt="Screenshot of GuildQuest website" />
            </div>
            <div class="col-md-8">
              <div class="row edge-header heavy-rain-gradient">
                <p>
                  Based on a project that I worked on while attending The Software Guild.
                  The original project was developed using .Net 4.5.2 and Bootstrap 3.
                </p>
                <p>
                  The current project is using .Net 4.7.1 and Bootstrap 4. Since the default MVC template uses Bootstrap 3, I had to convert it to Bootstrap 4.
                </p>
                <p>
                  This project is still a work in progress and has not been optimized for mobile platforms.<br />
                  It is best viewed from a laptop or desktop.
                </p>
              </div>

              <h4 class="h4 card-title text-center shadow">Features</h4>

              <div class="row card-text font-weight-bold">
                <div class="col-md-6">ASP.Net MVC</div>
                <div class="col-md-6">ASP.Net API</div>
                <div class="col-md-6">Entity Framework 6.2</div>
                <div class="col-md-6">Bootstrap 4.0</div>
                <div class="col-md-6">HTML5/CSS3/jQuery</div>
                <div class="col-md-6">SQL Server 2016</div>
                <div class="col-md-6">Linq</div>
                <div class="col-md-6">Twilio - used for two party authenication</div>
                <div class="col-md-6">Microsoft Identity</div>
                <div class="col-md-6">CKEditor - inline text editor</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row w-100">
            <div class="btn-group-lg">
              <a class="btn btn-primary"
                 href="https://github.com/richardturnmire/GuildQuest">
                Source on GitHub
              </a>
              <a class="btn btn-primary" name="liveDemo1" id="liveDemo1"
                 href="http://guildquest.richardturnmire.com" target="_blank" rel="noopener">
                Live Demo
              </a>
            </div>
          </div>
        </div>
      </div>

      <div id="AngularGuildQuest" class="card">

        <h3 class="h3 card-header text-center projectcolor1">Angular Guild Quest</h3>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 card-img">
              <img class="img-fluid img-thumbnail" src="/assets/images/webp/AngularGuildQuest.webp" alt="Screenshot of Angular GuildQuest website" />
            </div>

            <div class="col-md-8">

              <div class="row edge-header heavy-rain-gradient">
                <p>
                  This is the Angular version of my Guild Quest project
                </p>
                <p>
                  The current project is using .Net Core 2.1 and Angular 6.
                </p>
                <p>
                  This project is still a work in progress and has not been optimized for mobile platforms.<br />
                  It is best viewed from a laptop or desktop.
                </p>
              </div>

              <h4 class="h4 card-title text-center shadow">Features</h4>

              <div class="row card-text font-weight-bold">

                <div class="col-md-6">ASP.Net Core 2.1 API </div>
                <div class="col-md-6">Entity Framework Core 2.1</div>
                <div class="col-md-6">Angular 6</div>
                <div class="col-md-6">Bootstrap 4.0</div>
                <div class="col-md-6">HTML5/CSS3/SASS</div>
                <div class="col-md-6">SQL Server 2016</div>
                <div class="col-md-6">Linq</div>
                <div class="col-md-6">Twilio - used for two party authenication</div>
                <div class="col-md-6">Microsoft Identity</div>
                <div class="col-md-6">CKEditor - inline text editor</div>

              </div>
            </div>
          </div>
        </div>

        <div class="card-footer text-black">
          <div class="row w-100">
            <div class="btn-group-lg">
              <a class="btn btn-primary"
                 href="https://github.com/richardturnmire/GuildQuestAngular">
                Source on GitHub
              </a>
              <a class="btn btn-primary" name="liveDemo2" id="liveDemo2"
                 href="http://angularguildquest.richardturnmire.com" target="_blank" rel="noopener">
                Live Demo
              </a>
            </div>
          </div>
        </div>
      </div>

      <div id="HomePage" class="card">

        <h3 class="h3 card-header text-center projectcolor1">Home Page</h3>

        <div class="row  card-body">
          <div class="col-md-4 card-img">
            <img class="img-fluid img-thumbnail" src="/assets/images/webp/HomePage.webp" alt="image of Home Page" />
          </div>
          <div class="col-md-8">
            <div class="row edge-header heavy-rain-gradient">
              <p>
                This website was developed using ASP.Net Core 2 and Bootstrap 4<br />
                Converted the BootStrap 3 based Visual Studio template to BootStrap 4.

                Feb 28, 2018 - Upgraded to ASP.Net Core 2.1 with HTTPS support
              </p>
            </div>

            <h4 class="h4 card-title text-center shadow">Features</h4>

            <div class="row card-text font-weight-bold">

              <div class="col-md-6">ASP.Net Core 2.0</div>
              <div class="col-md-6">Razor Pages</div>
              <div class="col-md-6">User Secrets - for storing development secrets*</div>
              <div class="col-md-6">Azure Key Vault - for storing production secrets*</div>
              <div class="col-md-6">Mailkit - for sending emails</div>
              <div class="row w-100">
                <div class="small">* Secrets are api keys, passwords, etc.</div>
              </div>

            </div>
          </div>
        </div>


        <div class="card-footer">
          <div class="row w-100">
            <div class="btn-group-lg">
              <a class="btn btn-primary" href="https://github.com/richardturnmire/HomePage3">Source on GitHub</a>
            </div>
          </div>
        </div>
      </div>

      <div id="Hotel" class="card">
        <h3 class="h3 card-header text-center projectcolor1">Hotel Reservation</h3>

        <div class="row card-body">
          <div class="col-md-4 card-img">
            <img class="img-fluid img-thumbnail" src="/assets/images/webp/Hotel Reservations.webp" alt="Hotel Reservation image" />
          </div>
          <div class="col-md-8">
            <div class="row edge-header heavy-rain-gradient">
              <p>
                This is an example of a SQL Server database to be used
                by a hotel reservation system.
              </p>
            </div>

            <h4 class="h4 card-title text-center shadow">Features</h4>

            <div class="row card-text font-weight-bold">

              <div class="col-md-6">SQL Server 2016</div>

            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row w-100">

            <div class="btn-group-lg" role="group" aria-label="First group">
              <a class="btn btn-primary"
                 href="https://github.com/richardturnmire/HotelReservationSystem"
                 role="button" target="_blank" rel="noopener noreferrer">Source on GitHub</a>

              <button type="button" class="btn btn-primary btn-dialog" click(buttonClick($event)) data-toggle="modal" data-target="#modalPDFDisplay" data-whatever="/assets/images/HotelReservations_HighLevel.pdf#Page=1&Zoom=page-width">High Level ERD</button>
              <button type="button" class="btn btn-primary btn-dialog" click(buttonClick($event)) data-toggle="modal" data-target="#modalPDFDisplay" data-whatever="/assets/images/HotelReservations_RoomLevel.pdf#Page=1&Zoom=page-width">Room Level ERD</button>
            </div>
          </div>

        </div>


        <!--Modal: modalHighLevel-->
        <div class="modal fade" id="modalPDFDisplay" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="highLevelTitle"
             data-backdrop="true" data-fullscreen="true" data-keyboard="true">
          <div class="modal-dialog modal-fluid" role="document">
            <!--Content-->
            <div class="modal-content">
              <!--Header-->
              <div class="modal-header">
                <h3 class="modal-title h3" id="highLevelTitle">High Level ERD</h3>

                <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <!--Body-->
              <div id="modalBody" class="modal-body h-75 w-100 bg-warning">
                <div class="container-fluid h-100">
                  <div class="row w-100 h-100 mx-auto">
                    <object data="dummy" class="h-100 w-100"></object>
                  </div>
                </div>
              </div>
            </div>
            <!--/.Content-->
          </div>
        </div>
        <!--Modal: modalHighLevel-->

      </div>
    </div>

  </div>
</div>
